<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a new GOAL</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddGoal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddGoal()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="goalData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="goalData.description"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add GOAL</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
