<ion-view id="page2" title="Goals">
    <ion-content class="has-header" padding="true">
        <div class="button-bar" id="goals-button-bar2">
            <button ng-click="addButton();" class="button button-stable  button-block button-outline icon ion-plus" style="font-size:1px;" id="goals-button5"></button>
            <button ng-click="editButton();" class="button button-stable  button-block button-outline icon ion-android-create" style="border-radius:5px 5px 5px 5px;" id="goals-button6"></button>
            <button ng-click="deleteButton();" class="button button-stable  button-block button-outline icon ion-android-delete" id="goals-button7"></button>
        </div>
        <div class="button-bar" id="goals-button-bar1"></div>
        <div style="width: 283px; height: 16px;" class="spacer"></div>
        <div style="" id="goals-list-item-container1" class="item item-body">
            <form class="list" id="goals-form1">
                <label style="" class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input placeholder="Search goals" type="search">
                </label>
            </form>
            <div style="margin-top:0px;color:#000000;" id="goals-markdown1">
                <p>All GOALS</p>
            </div>
            <ion-list id="goals-list2">
                <ion-list id="goals-list3">
                    <ion-item style="" id="goals-list-item2" class="item-thumbnail-left">
                        <h2>GOAL 1</h2>
                        <div style="margin-top:0px;color:#000000;" id="visualize-markdown20">
                          <p>Sub Goals</p>
                        </div>
                        <ion-list id="visualize-list22">
                          <ion-item style="" id="visualize-list-item24" class="item-thumbnail-left">
                            <h2>Sub GOAL 1</h2>
                          </ion-item>
                          <ion-item style="" id="visualize-list-item25" class="item-thumbnail-left">
                            <h2>Sub GOAL 2</h2>
                          </ion-item>
                        </ion-list>
                    </ion-item>
                    <ion-item style="" id="goals-list-item6" class="item-thumbnail-left">
                        <h2>GOAL 2</h2>
                        <div style="margin-top:0px;color:#000000;" id="visualize-markdown21">
                          <p>Sub Goals</p>
                        </div>
                        <ion-list id="visualize-list23">
                          <ion-item style="" id="visualize-list-item126" class="item-thumbnail-left">
                            <h2>Sub GOAL 1</h2>
                          </ion-item>
                          <ion-item style="" id="visualize-list-item27" class="item-thumbnail-left">
                            <h2>Sub GOAL 2</h2>
                          </ion-item>
                        </ion-list>
                    </ion-item>
                </ion-list>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
