<ion-view id="page2" title="Goals">
    <ion-content class="has-header" padding="true">

        <div class="button-bar"></div>
        <div style="width: 283px; height: 16px;" class="spacer"></div>
        <div class="item item-body">
            <div class="button-bar">
              <button ng-click="addButton();" class="button button-stable  button-block button-outline icon ion-plus"><span style="margin-left: 20px; font-size:20px">Add new GOAL</span></button>
            </div>
            <br />
            <form class="list">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input placeholder="Search goals" ng-model="search.doc.name" type="search">
                </label>
            </form>
            <div style="margin-top:0px;color:#000000;">
                <p>All GOALS</p>
            </div>
            <ion-list>
                <ion-list ng-repeat="goal in goals | filter:search " id="goals-list3">
                    <ion-item class="item-thumbnail-left">
                        <div class="button-bar">
                          <button ng-click="addSubButton(goal.doc._id);" class="button button-stable  button-block button-outline icon ion-plus" ><span style="margin-left: 20px; font-size:20px">Add new Subgoal</span></button>
                          <button ng-click="editButton(goal.doc._id);" class="button button-stable  button-block button-outline icon ion-android-create" style="border-radius:5px 5px 5px 5px;"><span style="margin-left: 20px; font-size:20px">Edit this GOAL</span></button>
                          <button ng-click="deleteButton(goal.doc._id);" class="button button-stable  button-block button-outline icon ion-android-delete"><span style="margin-left: 20px; font-size:20px">Delete this GOAL</span></button>
                        </div>
                        <h1>{{goal.doc.name}}</h1>
                        <p>{{goal.doc.description}}</p>
                        <div ng-show="goal.doc.subgoals.length">
                          <div style="margin-top:0px;color:#000000;"><p>Sub Goals</p></div>
                          <ion-list  ng-repeat="sg in goal.doc.subgoals">
                            <ion-item class="item-thumbnail-left">
                              <h2>{{sg.name}}</h2>
                            </ion-item>
                          </ion-list>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-list>
            <div ng-show="!goals.length">No Goals yet baby !!!</div>
        </div>
    </ion-content>
</ion-view>



















