<ion-view id="page3" title="Visualize">
    <ion-content class="has-header" padding="true">
        <h5 style="color: rgb(0, 0, 0);" id="visualize-heading2">300 days left till deadline</h5>
        <form class="list" id="visualize-form2">
            <div style="width: 283px; height: 23px;" class="spacer"></div>
            <ion-item id="visualize-range1" class="range range-positive">Percent Done
                <input max="100" min="0" value="50" type="range">
            </ion-item>
        </form>
        <div style="width: 283px; height: 23px;" class="spacer"></div>
        <div style="" id="visualize-list-item-container2" class="item item-body">
            <div style="margin-top:0px;color:#000000;" id="visualize-markdown2">
                <p>Visualize functions</p>
            </div>
            <ion-list id="visualize-list6">
                <ion-item id="visualize-list-item14" class="item-thumbnail-left">
                    <h2>View GOAL</h2>
                </ion-item>
                <ion-item id="visualize-list-item13" class="item-thumbnail-left">
                    <h2>Retype GOAL</h2>
                </ion-item>
                <ion-item id="visualize-list-item15" class="item-thumbnail-left">
                    <h2>Hear GOAL</h2>
                </ion-item>
                <ion-item id="visualize-list-item17" class="item-thumbnail-left">
                    <h2>Record GOAL</h2>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
